<div class="character-import">
  <div class="import-header">
    <h2>Import Shadowrun 2E Character</h2>
    <p>Import a character from a JSON file created by character generators or exported from other tools.</p>
  </div>

  <div class="import-info">
    <h3>Supported Formats</h3>
    <ul>
      <li>Shadowrun 2E character generator JSON files</li>
      <li>Character export files with attributes, skills, gear, and spells</li>
      <li>Files containing contacts and equipment data</li>
    </ul>
  </div>

  <div class="import-actions">
    <button type="button" class="import-character">
      <i class="fas fa-user-plus"></i> Select Character File
    </button>
  </div>

  <div class="import-footer">
    <p><em>The importer will create a new actor with all character data, items, and optionally create contact actors.</em></p>
  </div>
</div>